{
  "presets": ["es2015", "react"],
  "plugins": [
    ["react-intl", {
      "messagesDir": "../server/i18n/client/en-US",
      "enforceDescriptions": true
    }],
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
